ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 220px;
  cursor: pointer;
  transition: transform 400ms ease;
}

img:hover {
  transform: scale(1.05);
}

.gallery {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
